.container {
  max-width: 100% !important;
  width: 100% !important;
  background-color: white !important;
}

.container_items {
  display: grid;
  gap: 40px;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  vertical-align: top;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
}

.image-container p {
  position: absolute;
  top: 20%;
  left: 0;
  margin: 10px;
  font-weight: bold;
  padding: 5px;
}

.about,
.courses {
  padding: 20px;
  margin-top: 0 !important;
}

.courses {
  background-color: #f7f4f4;
  padding-top: 50px;
  margin: 0px 40px 0px 40px;
}

._Paragraphs {
  text-align: left;
  font-size: 16px;
  font-family: sans-serif;
  position: relative;
  top: -1rem;
}

.course_img {
  margin-top: 10px;
}

.multiple_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

._ul li {
  font-size: 15px;
}

.test_topics p {
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.btn_click {
  margin: 0 auto;
  text-transform: capitalize;
  background-color: rgb(53, 76, 100) !important;
  margin-top: 20px !important;
  text-transform: capitalize !important;
}

.btn_close {
  background-color: rgb(53, 76, 100) !important;
  margin: 20px 30px !important;
  text-transform: capitalize !important;
}

.table_cell_row {
  font-size: 0.9rem !important;
}

.table_head {
  background-color: rgb(250, 250, 250);
}

.cards {
  padding: 5px 40px;
  position: relative;
  top: -2rem;
}

.about_content {
  text-align: center;
  word-wrap: break-word;
  font-size: 18px;
  line-height: 24px;
}

.our_c {
  font-size: 2.5rem !important;
  font-weight: bold;
  color: rgb(53, 76, 100);
  text-align: center;
  position: relative;
  top: -2.5rem;
}

.about_heading {
  text-align: center;
  font-size: 2.5rem !important;
  font-weight: bold;
  color: rgb(53, 76, 100);
  margin-bottom: 0 !important;
}

.h1 {
  text-align: left;
  margin: 10px;
  font-size: 2.5rem !important;
}

.logo_text {
  display: flex !important;
  gap: 10px;
}

.apt_h1 {
  text-align: left;
}

.topics {
  gap: 10px !important;
  margin-top: 20px;
}

.aptitude {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 90% !important;
  transition: background-color 0.3s ease-in-out;
  margin: 20px !important;
}

.apt_h6 {
  font-size: 15px !important;
  font-weight: 100 !important;
  color: rgb(163, 163, 163);
  padding: 10px 0px;
  font-family: Arial, Helvetica, sans-serif !important;
}

.more_course {
  text-align: right !important;
  font-size: 15px !important;
  color: #0056b3 !important;
  font-weight: bold;
}

.aptitude:hover {
  background-color: #f5f5f5;
}

.topics {
  display: flex !important;
  align-items: center;
}

.btn {
  margin: 3px 0;
  padding: 8px 16px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #0056b3;
}

ul li {
  font-size: 17px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif !important;
}

.certificate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificate h1 {
  font-size: 2.5rem;
  color: rgb(53, 76, 100);
}

.training_placement h1 {
  font-size: 2.5rem;
  color: rgb(53, 76, 100);
  text-align: center;
}

.training_placement p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 17px;
  line-height: 1.2 !important;
}
.training_placement ul li {
  text-align: left !important;
}

.guest_section {
  padding: 20px;
  text-align: center;
  font-size: 1.5rem !important;
  color: rgb(53, 76, 100);
  position: relative;
  /* top: -3rem; */
  /* background-color: rgb(245, 244, 244); */
}

.images_container {
  margin: 50px 20px;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.guest_img {
  border: 1px solid blue;
  border-radius: 40px;
}

.corporate_tieups {
  position: relative;
}

.corporate_tieups h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(53, 76, 100);
}

.section1,
.section2 {
  display: flex;
  justify-content: space-evenly;
}

.logos {
  margin: 0px 50px;
  display: grid;
  gap: 20px;
  padding: 25px;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  position: relative;
  margin-bottom: 70px;
}

.footer {
  position: sticky !important;
}

#library {
  height: 120px !important;
}

.library_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin: 0px 45px;
  border-radius: 10px;
  padding: 25px;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
}
